# Lucas Alves Fidelis Araújo - Estatística

## Questão 1:

Liste as diferenças entre uma lista, um dicionário, um array numpy e uma series pandas.

Uma lista é uma sequência ordenadas de elementos, ou seja: O primeiro índice de uma lista é sempre 0, o segundo 1, e
assim por diante, e um dicionário é uma Estrutura de Dados em que os elementos são pares (chave:valor), onde a chave identifica um item e armazena seu conteúdo, e existem duas diferenças fundamentais entre os dicionários e as listas:

1- Em uma lista, os índices que determinam a posição dos elementos precisam ser inteiros, enquanto em um dicionário os índices podem ser não apenas inteiros, mas também de qualquer tipo básico, como strings.
2- A segunda diferença encontra-se no fato de que em um	dicionário não existe o conceito de ordem, ou seja, ele é uma coleção não ordenada de pares chave:valor.

Por essas diferenças, podemos dizer que o Series une o melhor dos dois, pois ela pode ordenar uma sequência ordenada de elementos, como uma lista, e também permite que cada elemento também seja acessado de forma simples e rápida através de um rótulo, similar ao acesso por chaves.

A diferença entre o array numpy e uma series pandas, aliás, é a presença do índice: enquanto o array numpy tem um índice definido implicitamente usado para acessar os valores, a series pandas tem um índice explicitamente definido associado aos valores. Essa definição de índice explícita fornece recursos adicionais ao objeto series. Por exemplo, o índice não precisa ser um número inteiro, se desejarmos, podemos usar até strings como um índice.

## Questão 2:

Reformule a série a seguir em um dataframe com 7 linhas e 5 colunas.

ser = pd.Series(np.random.randint(1, 10, 35))

In [839]:
import pandas as pd
import numpy as np
ser = pd.Series(np.random.randint(1, 10, 35))
ser = pd.DataFrame(ser.values.reshape(7,5))
ser

   0  1  2  3  4
0  1  9  1  6  1
1  4  8  8  8  4
2  7  6  7  5  6
3  9  7  7  1  3
4  4  1  4  7  1
5  4  2  1  6  7
6  7  3  7  6  6

## Questão 3:

Importe as colunas ’crim’ e ’medv’ do conjunto de dados do BostonHousing como um dataframe.

In [840]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',usecols=['crim', 'medv'])   
df.head()

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

## Questão 4:

Renomeie a coluna Type como CarType em df e substitua o ’.’ nos nomes das colunas com ’_’.

In [841]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#Trocando nome das colunas
df = df.rename(columns = {'Type':'CarType'})

#Trocando caracteres
df.columns= df.columns.str.replace('.','_',regex=True)

df.columns

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

## Questão 5:

Verifique se o dataframe tem algum valor ausente.

pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [842]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
verif = df.isnull().values.any()
verif

True

## Questão 6:

Conte o número de valores ausentes em cada coluna do df . Qual coluna tem o número máximo de valores ausentes?

pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [843]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
verif = df.count().idxmin()
print("Coluna com o maior número de valores ausentes:",verif)

Coluna com o maior número de valores ausentes: Luggage.room

## Questão 7:

Obtenha a primeira coluna ’a’ em df como um dataframe (em vez de uma série).

df = pd.DataFrame(np.arange(20).reshape(−1, 5), columns=list('abcde'))

In [844]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
a = df[['a']]
a

    a
0   0
1   5
2  10
3  15

## Questão 8:

Como alterar a ordem das colunas de um dataframe? Para isso, respondam as três questões:

Em df, troque as colunas ’a’ e ’c’.

In [845]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
a = ['c','b','a','d','e']
df = df.reindex(columns=a)
df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

Crie uma função genérica para trocar duas colunas, sem codificar os nomes das colunas.

In [846]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
def altordem(df,c1,c2):
    colunas = df.columns.tolist()
    l1 = colunas.index(c1) 
    l2 = colunas.index(c2)
    colunas[l2],colunas[l1] = colunas[l1],colunas[l2]
    return df.reindex(columns=colunas)
altordem(df,'a','c')

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

Classifique as colunas em ordem alfabética inversa, ou seja, coluna ’e’ primeiro até a coluna ’a’ por último.

In [847]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df = df[sorted(df.columns, reverse=True)]
df.head()

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

## Questão 9:

Altere as configurações de exibição de Pandas ao imprimir o dataframe df mostre no máximo 10 linhas e 10 colunas.

pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [848]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
df

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

## Questão 10:

A partir de df , filtre o ’Manufacturer’, ’Model’ e ’Type’ para cada 20 linhas, começando em 1º (linha 0).

In [849]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.iloc[::20, :]

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
20,Chrysler,LeBaron,Compact,14.5,15.8,...,30.5,14.0,3085.0,USA,Chrysler LeBaron
40,Honda,Prelude,Sporty,17.0,19.8,...,23.5,8.0,2865.0,non-USA,Honda Prelude
60,Mercury,Cougar,Midsize,14.9,14.9,...,28.0,15.0,3610.0,USA,Mercury Cougar
80,Subaru,Loyale,Small,10.5,10.9,...,27.5,15.0,2490.0,non-USA,Subaru Loyale

## Questão 11:

Obtenha as duas últimas linhas de df cuja soma da linha é maior que 100.

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(−1, 4))

In [850]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
soma = df.apply(np.sum, axis=1)
soma2 = pd.DataFrame(soma.iloc[np.where(soma > 100)])
soma2.tail(2)

      0
10  106
12  116

## Questão 12:

Troque as linhas 1 e 2 em df.

In [851]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df.reindex([0,2,1,3,4])

    0   1   2   3   4
0   0   1   2   3   4
2  10  11  12  13  14
1   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24